body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(#edfcf8,#11c696);
    background: -o-linear-gradient(#edfcf8,#11c696);
    background: -moz-linear-gradient(#edfcf8,#11c696);
    background: linear-gradient(#edfcf8,#11c696);
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
  }
  
  #frame {
    width: 95%;
    min-width: 360px;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: rgba(229,241,255,0.6);
  }
  #frame #sidepanel {
    float: left;
    min-width: 200px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: -webkit-linear-gradient(#009ec1,#def2f7);
    background: -o-linear-gradient(#009ec1,#def2f7);
    background: -moz-linear-gradient(#009ec1,#def2f7);
    background: linear-gradient(#009ec1,#def2f7);
    color: #0a2a54;
    overflow: hidden;
    position: relative;
  }
  #frame #sidepanel #profile {
    width: 90%;
    margin: 10px auto;
  }
  #frame #sidepanel #profile .wrap {
    height: 60px; 
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
  }
  #frame #sidepanel #profile .wrap p img {
    width: 40px;
    height: 40px;
  }
  #frame #sidepanel #profile .wrap p {
    font-size: 20px;
    line-height: 60px;
  }
  
  #frame #sidepanel #search {
    border-top: 1px solid #70c3d8;
    border-bottom: 1px solid #70c3d8;
    font-weight: 300;
  }
  #frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 10px;
  }
  #frame #sidepanel #search input {
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    padding: 10px 0 10px 46px;
    width: 100%;
    border: none;
    background: #279bb5;
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:focus {
    outline: none;
    background: #1f7a8e;
  }
  #frame #sidepanel #search input::-webkit-input-placeholder {
    color: #197393;
  }
  #frame #sidepanel #search input::-moz-placeholder {
    color: #197393;
  }
  #frame #sidepanel #search input:-ms-input-placeholder {
    color: #197393;
  }
  #frame #sidepanel #search input:-moz-placeholder {
    color: #197393;
  }
  #frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #279bb5;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #1f7a8e;
  }
  #frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
      padding: 6px 0 46px 8px;
    }
  }
  #frame #sidepanel #contacts ul li.contact:hover {
    background: #1e8caa;
    color: #f5f5f5;
  }
  #frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
  }
  #frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
  }
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
  }
  
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
      display: none;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
  }
  #frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  #frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #1f7a8e;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
      float: none;
      width: 100%;
      padding: 15px 0;
    }
  }
  #frame #sidepanel #bottom-bar button:focus {
    outline: none;
  }
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #29a8c4;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
      border-right: none;
      border-bottom: 1px solid #29a8c4;
    }
  }
  #frame #sidepanel #bottom-bar button:hover {
    background: #145766;
  }
  #frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
      display: none;
    }
  }
  #frame .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame .content {
      width: calc(100% - 58px);
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    #frame .content {
      width: calc(100% - 340px);
    }
  }
  #frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #29a8c4;
    color: #1a0b54;
    
  }
  #frame .content .contact-profile p {
    text-indent:30px;
    font-size: 20px;
  }
  #frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  #frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  #frame .content .messages ul li.reply img {
    margin: 6px 8px 0 0;
  }
  #frame .content .messages ul li.reply p {
    background: #145766;
    color: #f5f5f5;
  }
  #frame .content .messages ul li.sent img {
    float: right;
    margin: 6px 0 0 8px;
  }
  #frame .content .messages ul li.sent p {
    background: #f5f5f5;
    float: right;
  }
  #frame .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
  #frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
      max-width: 300px;
    }
  }
  #frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  #frame .content .message-input .wrap {
    position: relative;
  }
  #frame .content .message-input .wrap input {
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    float: left;
    border: none;
    width: calc(100% - 56px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #688aac;
  }
  #frame .content .message-input .wrap input:focus {
    outline: none;
  }
  #frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
  }
  #frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
  }
  #frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #2496af;
    color: #f5f5f5;
  }
  #frame .content .message-input .wrap button:hover {
    background: #196d7f;
  }
  #frame .content .message-input .wrap button:focus {
    outline: none;
  }