html,
body {
  height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: -webkit-linear-gradient(#edfcf8,#11c696);
    background: -o-linear-gradient(#edfcf8,#11c696);
    background: -moz-linear-gradient(#edfcf8,#11c696);
    background: linear-gradient(#edfcf8,#11c696);

}

.form-signin {
  width: 40%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(229,241,255,0.6);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #f4f4f4;
}
.form-signin .form-control:focus {
  z-index: 3;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

.button1 {
    background-color: #61c6aa;
    color: black;
  }
  
.button1:hover {background-color: #4a9983;}

.button2 {
    background-color: #79d5ea;
    color: black;
}
.button2:hover {
    background-color: #5a9dad;
}

.button3 {
    background-color: #9bb6f2;
    color: black;
}
.button3:hover {
    background-color: #6b7ea8;
}